<h1 class="text-center">{{title}}</h1>
<form action="" method="POST">
    <div>
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" type="text" pattern="[a-zA-Z]+" aria-label="Username" />
    </div>
    <div>
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" />
    </div>
    <button class="text-center btn btn-primary mt-4" type="submit">Submit</button>
</form>
<ul class="mt-4">
{{#if dbError}}
    <li><p class="text-danger">The username and/or password is incorrect</p></li>
{{/if}}
{{#if valErrs}}
    {{#each valErrs}}
        <li><p class="text-danger">{{this.msg}}</p></li>
    {{/each}}
{{/if}}
</ul>


