<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/bootstrap.min.js" defer></script>
</head>
<body>
    <main class="container-fluid">
        {{{body}}}
    </main>
</body>
</html>
